[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
mediapipe = "*"
scikit-learn = "*"
python-dotenv = "*"
pillow = "*"
tensorflow = "*"
keras = "*"
tqdm = "*"
joblib = "*"

[dev-packages]
